:root {
    --glass-background: rgba(255, 255, 255, 0.199);
    --glass-webkit-box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.25);
    --glass-box-shadow: 15px 14px 9px 0px rgb(50 50 50 / 25%);
    --glass-border-radius: 10px;
    --glass-border-top: 2px solid rgba(225,225,225, 0.2);
    --glass-border-left: 2px solid rgba(225,225,225, 0.2);
    --glass-border-right: 2px solid rgba(225,225,225, 0.3);
    --glass-border-bottom: 2px solid rgba(225,225,225, 0.3);
    --glass-filter:  drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.30));
    --glass-color: rgba(255,255,255,.75); 
}